// 顶部导航高度
$headerHeight: 60px;
// 侧边栏宽度
$sidebarWidth: 200px;

// 基础色
$basicColor: #373737;
// 基础文本色
$basicTextColor: #373737;
// 基础高亮色
$basicHighLightColor: #fff;
// 基础动画
$basicTransition: all 0.3s cubic-bezier(.645, .045, .355, 1);
